<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797595913210-hv2msl2trr2tf6krr937tt85fu6vm6s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797595913210-hv2msl2trr2tf6krr937tt85fu6vm6s7</string>
	<key>API_KEY</key>
	<string>AIzaSyARQ27UQgpIND-sOEYDxq1j4JexZFGF1w0</string>
	<key>GCM_SENDER_ID</key>
	<string>797595913210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.colorrecognition</string>
	<key>PROJECT_ID</key>
	<string>recognition-f8b99</string>
	<key>STORAGE_BUCKET</key>
	<string>recognition-f8b99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797595913210:ios:6bc5bc4c6160d8d8e9f243</string>
</dict>
</plist>